<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="{{author}}">

  <title>
    {% block title %} Login Page {% endblock %}
  </title>
</head>
<body>
  <content>
    {% block content %}
    <!-- Your Content Here -->
    {% endblock %}
  </content>
</body>
</html>
