{% load staticfiles %}
{% load static %}

<div class="panel panel-default">
	<div class="panel-heading">
		<table style="width: 97%;">
	     	<thead>
		       <tr>
		         <th class="col-xs-2">No</th>
		         <th class="col-xs-4">Mata Kuliah</th>
		         <th class="col-xs-4">Dosen Pengajar</th>
		         <th id="nilai" class="col-xs-2">Nilai</th>
		       </tr>
		     </thead>
		</table>
   	</div>
    <div class="panel-body">
        <table class="table table-fixed">
	     <tbody>
	     	{% for matkul in list_matkul %}
		       <tr>
		         <td class="col-xs-2">{{ forloop.counter }}</td>
		         <td class="col-xs-4">{{ matkul.kelas.nm_mk_cl.nm_mk }}</td>
		         <td class="col-xs-4">{{ matkul.kelas.pengajar.0.nama }}</td>
		         <td id="nilai" class="col-xs-2">{{ matkul.nilai }}</td>
		       </tr>
		     {% endfor %}
	     </tbody>
	   </table>
    </div>
</div>