{% extends "layout/base.html" %}
{% block content %}

<div class = "container">
    <div class = "header-html" align = "center">
        <br>
        <img src = "{{ foto_profil }}" alt = "profpic" width = "200px" height = "200px">
        <p>{{ npm }}</p>
    </div>
    <div class = "edit-content-html">
        <p>Data Pribadi</p>
        <div class = "linked-in-data-content">
            <!-- notyet -->
        </div>
        <div class = "keahlian-content" style = "width:90%;">
            {% if list_keahlian %}
                {% for keahlian in list_keahlian %}
                    <div class = "some-word">{{ forloop.counter }} &nbsp;&nbsp;&nbsp;&nbsp;
                    <select class = "select-keahlian" data-id = "{{ keahlian.id }}" >
                            <option value="{{keahlian.keahlian}}">{{keahlian.keahlian}}</option>
                            <option value="0">Java</option>
                            <option value="1">C#</option>
                            <option value="2" >Python</option>
                            <option value="3">Erlang</option>
                            <option value="4">Kotlin</option>
                        </select>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <select class = "select-level" data-id = "{{ keahlian.id }}">
                            <option value="{{keahlian.level}}">{{keahlian.level}}</option>
                            <option value="0">Beginner</option>
                            <option value="1">Intermediate</option>
                            <option value="2">Advanced</option>
                            <option value="3">Expert</option>
                            <option value="4">Legend</option>
                        </select>
                        <button class = "btn btn-danger delete-button"  data-id = "{{ keahlian.id }}">Delete Keahlian</button>
                    </div>
                    <br>
                {% endfor %}
            {% endif %}
            <div class = "keahlian-baru" >
                {{ list_keahlian | length | add:1}} &nbsp;&nbsp;&nbsp;&nbsp;
                <select class = "select-keahlian skill-baru" data-id = "{{ forloop.counter }}">
                    <option value="0" selected>Java</option>
                    <option value="1">C#</option>
                    <option value="2" >Python</option>
                    <option value="3">Erlang</option>
                    <option value="4">Kotlin</option>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <select class = "select-level level-baru">
                    <option value="0" selected>Beginner</option>
                    <option value="1">Intermediate</option>
                    <option value="2" >Advanced</option>
                    <option value="3">Expert</option>
                    <option value="4">Legend</option></select>
                <button class = "btn btn-primary apply-button" onClick="addKeahlian()">Tambah Keahlian</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
